@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

[data-theme="light"] {
    --background: #FFFFFF;
    --foreground: #FFFFFF;
    --accent: #D8923A;
    --muted: #FEF2DA;

    --yellow: #D8923A;

    --accent-purple: #713F88;
    --muted-purple: #F2DFFD;
    --accent-pink: #B14A9B;
    --muted-pink: #FEE7F1;
    --accent-blue: #497EA0;
    --muted-blue: #DDF0FE;
    --accent-red: #C14949;
    --muted-red: #FFE0E0;
    --accent-green: #41A159;
    --muted-green: #DFF9DE;

    --input: #E4E4E4;
    --border: #E4E4E4;

    --text: #000000;
    --light_text: #6C6C6C;

    --shadow: rgba(0, 0, 0, 0.05);
}

[data-theme="dark"] {
    --background: #191919;
    --foreground: #252525;
    --accent: #FEF2DA;
    --muted: #D8923A;

    --yellow: #D8923A;

    --accent-purple: #F2DFFD;
    --muted-purple: #713F88;
    --accent-pink: #FEE7F1;
    --muted-pink: #B14A9B;
    --accent-blue: #DDF0FE;
    --muted-blue: #497EA0;
    --accent-red: #FFE0E0;
    --muted-red: #C14949;
    --accent-green: #DFF9DE;
    --muted-green: #41A159;

    --input: #333333;
    --border: #333333;

    --text: #FFFFFF;
    --light_text: #9B9B9B;

    --shadow: rgba(0, 0, 0, 0.05);
}

* {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 24px;
    transition: 0.2s;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: var(--text);
}

.content {
    width: fit-content;
    margin: 0 auto;
}

.footer p {
    margin: 100px auto 50px auto;
    color: var(--accent);
    padding: 10px 20px;
    background-color: var(--muted);
    width: fit-content;
    border-radius: 10px;
}

.card {
    border-radius: 20px;
    background-color: var(--foreground);
    padding: 40px;
    border: 2px solid var(--border);
    width: fit-content;
    margin: 0 auto;
    box-shadow: 0 5px 10px 0 var(--shadow);
}

header {
    display: flex;
    justify-content: space-between;
    margin: 40px;
    align-items: center;
}

.header-buttons {
    padding: 20px;
    margin: 0;
}

.header-buttons a,
.header-buttons button {
    padding: 10px;
}

.navbar {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: var(--muted-red);
    color: var(--accent-red);
    cursor: pointer;
}

.navbar button:hover {
    background-color: var(--accent-red);
    color: var(--muted-red);
}

.navbar button svg {
    width: 40px;
    height: 40px;
}

nav {
    display: flex;
    gap: 5px;
}

.header-buttons a,
.header-buttons button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 60px;
    height: 60px;
    color: var(--light_text);
}

.header-buttons button {
    background: none;
    border: none;
    cursor: pointer;
}

.header-buttons svg {
    width: 40px;
    height: 40px;
}

.active,
.header-buttons .active {
    background-color: var(--muted);
    border-radius: 10px;
}

.active svg {
    color: var(--accent);
}

.inactive {
    border-radius: 10px;
}

.inactive:hover {
    background-color: var(--input);
}

#header-logo {
    width: 100px;
}

.page-title {
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-size: 64px;
    margin: 50px 0;
}

.button-div {
    text-align: center;
}

.button {
    background-color: var(--muted);
    color: var(--accent);
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
}

.button:hover, .novo-post-visibilidade:hover {
    background-color: var(--accent);
    color: var(--muted);
}

.input-div {
    margin-bottom: 20px;
}

.input {
    background-color: var(--input);
    border: none;
    border-radius: 10px;
    height: 40px;
    margin: 20px 0;
    width: 100%;
    padding: 10px;
    color: var(--text);
}

.input:focus, .novo-post-titulo:focus, .novo-post-conteudo:focus {
    outline: 2px solid var(--yellow);
}

.card-cadastro-login {
    display: flex;
}

#img-login {
    width: 540px;
    height: 410px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.form-cadastro-login {
    margin-left: 40px;
    width: 540px;
}

.button-cadastro-login {
    margin-bottom: 20px;
}

.yellow {
    color: var(--yellow);
}

.link-footer {
    color: var(--accent);
}

.intro {
    text-align: center;
}

.intro p {
    font-size: 32px;
}

#intro-image {
    margin: 50px 150px 50px 0;
}

.div-valores {
    display: flex;
    margin: 0 auto;
    gap: 40px;
    width: fit-content;
}

.card-valores {
    width: 440px;
    text-align: center;
    padding: 20px;
}

.card-valores div {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
}

.card-valores h2 {
    font-size: 32px;
    margin: 0 0 0 17%;
    font-weight: 700;
}

.card-post {
    width: 1200px;
    margin-bottom: 50px;
}

.card-post h2 {
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-size: 48px;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.post-header div {
    text-align: end;
    margin-left: auto;
    color: var(--light_text);
}

.post-footer {
    display: flex;
    align-items: end;
    margin-top: 20px;
}

.post-footer a {
    font-weight: 700;
    text-decoration: none;
}

.post-footer div {
    display: flex;
    margin-left: auto;
    gap: 20px;
}

.like-comment-button {
    background: none;
    border: none;
    cursor: pointer;
}

.like-comment-button svg {
    width: 58px;
    height: 58px;
}

.novo-post {
    width: 1200px;
}

.novo-post-header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.novo-post-header div {
    display: flex;
    gap: 20px;
    width: 25%;
    margin-left: 40px;
    align-items: center;
    justify-content: end;
    color: var(--light_text);
}

.novo-post-visibilidade {
    width: 80px;
    height: 80px;
    border: none;
    background-color: var(--muted);
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    color: var(--accent);
}

.novo-post-visibilidade svg {
    width: 50px;
    height: 50px;
}

.novo-post-titulo {
    color: var(--light_text);
    font-size: 48px;
    font-family: "Crimson Text", serif;
    font-weight: 700;
    padding: 20px 40px;
    width: 90%;
}

.novo-post-conteudo {
    width: 100%;
    min-height: 400px;
    resize: none;
    field-sizing: content;
    overflow: hidden;
    margin-bottom: 40px;
    color: var(--light_text);
}

.novo-post-buttons {
    display: flex;
    justify-content: end;
    gap: 40px;
}

.novo-post-buttons button {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 32px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.novo-post-buttons button svg {
    width: 40px;
    height: 40px;
}

.novo-post-salvar {
    background-color: var(--muted-green);
    color: var(--accent-green);
}

.novo-post-salvar:hover {
    background-color: var(--accent-green);
    color: var(--muted-green);
}

.novo-post-cancelar {
    background-color: var(--muted-red);
    color: var(--accent-red);
}

.novo-post-cancelar:hover {
    background-color: var(--accent-red);
    color: var(--muted-red);
}

.meus-posts-header {
    display: flex;
    align-items: center;
    margin: 50px 0;
}

.meus-posts-header h1 {
    margin: 0;
}

.meus-posts-header button {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px;
    height: fit-content;
    margin-left: auto;
    font-size: 32px;
    border: none;
    border-radius: 10px;
    background-color: var(--muted);
    color: var(--accent);
    cursor: pointer;
}

.meus-posts-header button:hover {
    background-color: var(--accent);
    color: var(--muted);
}

.meus-posts-header button svg {
    width: 40px;
    height: 40px;
}

.post-details {
    display: flex;
    align-items: center;
    gap: 20px;
}

#post-details-svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--input);
}

#post-details-svg-container svg {
    width: 40px;
    height: 40px;
    color: var(--light_text);
}

.sem-posts {
    display: flex;
    align-items: center;
    width: 1200px;
    text-align: center;
    margin: 100px 0 200px 0;
    color: var(--light_text);
}

#dashboard {
    width: 1200px;
    margin-bottom: 100px;
}

#dashboard .sem-posts {
    width: 100%;
    justify-content: space-between;
}

.card-posts-por-dia {
    width: 100%;
}

.card-posts-por-dia p, .cards-graficos-pizza div p {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
}

.cards-graficos-pizza {
    display: flex;
    gap: 40px;
    margin-top: 40px;
}

.cards-graficos-pizza div {
    width: 100%;
}

.dashboard-vazio button {
    display: flex;
    margin: 0 auto;
    border: none;
    background-color: var(--muted);
    margin-top: 20px;
    color: var(--accent);
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
    font-size: 32px;
    gap: 10px;
}

.dashboard-vazio button svg {
    width: 40px;
    height: 40px;
}

.dashboard-vazio button:hover {
    color: var(--muted);
    background-color: var(--accent);
}

.postagem {
  width: 1200px;
}